body{
    background-color: beige;
}

nav{
    display: flex;
    justify-content: center;
    background-color: lightblue;
    text-align: center;
}

nav > p{
    margin: 10px;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

div{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.divider{
    border-bottom: lightgray solid 1px;
}

div > a{
    grid-column: 1/2;
    grid-row: 1/2;
}

div > p{
    grid-column: 2/5;
}

a + p{
    grid-column: 1/2;
    grid-row: 2/3;
}

@media screen and (max-width: 600px)
{
    nav{
        flex-direction: column;
    }

    nav > p{
        margin: auto;
    }

    div{
        display: block;
    }
}