body{
    background-color: beige;
}

nav{
    display: flex;
    justify-content: center;
    background-color: lightblue;
    text-align: center;
}

nav > p{
    margin: 10px;
}

h1{
    font-family: 'Montserrat', sans-serif;
}
